<?xml version="1.0"?>
<config>
    <modules>
        <Ymca_Registration>
            <version>0.1.0</version>
        </Ymca_Registration>
    </modules>
    <global>
        <helpers>
            <registration>
                <class>Ymca_Registration_Helper</class>
            </registration>
        </helpers>
        <blocks>
            <registration>
                <class>Ymca_Registration_Block</class>
            </registration>
        </blocks>
        <resource>
            <registration_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </registration_read>
            <registration_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </registration_write>
        </resource>
        <models>
            <registration>
                <class>Ymca_Registration_Model</class>
                <resourceModel>registration_resource</resourceModel>
            </registration>
            <registration_resource>
                <class>Ymca_Registration_Model_Mysql4</class>
                <entities>
                    <students>
                        <table>students</table>
                    </students>
                    <advisors>
                        <table>advisors</table>
                    </advisors>
                    <ethnicity>
                        <table>ethnicity</table>
                    </ethnicity>
                    <delegation>
                        <table>delegations</table>
                    </delegation>
                    <events>
                        <table>events</table>
                    </events>
                </entities>
            </registration_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <registration>
                <use>standard</use>
                <args>
                    <module>Ymca_Registration</module>
                    <frontName>reg</frontName>
                </args>
            </registration>
        </routers>
        <layout>
            <updates>
                <ymca_registration module="Ymca_Registration">
                    <file>registration.xml</file>
                </ymca_registration>
            </updates>
        </layout>
    </frontend>
</config>