<?xml version="1.0"?>
<config>
    <modules>
        <Ymca_Bill>
            <version>0.1.0</version>
        </Ymca_Bill>
    </modules>
    <global>
        <blocks>
            <bill>
                <class>Ymca_Bill_Block</class>
            </bill>
        </blocks>
        <helpers>
            <bill>
                <class>Ymca_Bill_Helper</class>
            </bill>
        </helpers>
        <models>
            <bill>
                <class>Ymca_Bill_Model</class>
                <resourceModel>bill_mysql4</resourceModel>
            </bill>
            <bill_mysql4>
                <class>Ymca_Bill_Model_Mysql4</class>
                <entities>
                    <bill>
                        <table>bills</table>
                    </bill>
                </entities>
            </bill_mysql4>
        </models>
        <resources>
            <bill_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bill_read>
            <bill_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bill_write>
        </resources>
    </global>
    <frontend>
        <routers>
            <bill>
                <use>standard</use>
                <args>
                    <module>Ymca_Bill</module>
                    <frontName>bills</frontName>
                </args>
            </bill>
        </routers>
        <layout>
            <updates>
                <ymca_bill>
                    <file>bill.xml</file>
                </ymca_bill>
            </updates>
        </layout>
    </frontend>
</config>